challenges/03_shopping_basket/buying_candy/node_modules
challenges/02_search_function/candy_search/node_modules
challenges/01_testing/fizzbuzz_testing/node_modules
challenges/01_testing/add_and_multiply_testing/node_modules
challenges/04_thermostat/thermostat/node_modules